/* .cards_categories_container {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 80px 40px 106px 40px;
}

.cards_container {
  display: flex;
  gap: 32px;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
} */
.cards_categories_container {
  display: flex;
  flex-direction: column;
  gap: calc(20px + (40 - 20) * ((100vw - 393px) / (1440 - 393)));
  padding: calc(40px + (80 - 40) * ((100vw - 393px) / (1440 - 393)))
    calc(20px + (40 - 20) * ((100vw - 393px) / (1440 - 393)))
    calc(53px + (106 - 53) * ((100vw - 393px) / (1440 - 393)))
    calc(20px + (40 - 20) * ((100vw - 393px) / (1440 - 393)));
}

.cards_container {
  display: flex;
  gap: calc(16px + (32 - 16) * ((100vw - 393px) / (1440 - 393)));
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
