/* .counter_container {
  display: flex;
  width: 100%;
  max-width: 200px;
}

.minus_btn,
.plus_btn {
  height: 58px;
  width: 58px;

  border-radius: 6px;
  border: 1px solid #dddddd;
  display: flex;
  justify-content: center;
  align-items: center;
}

.minus_icon,
.plus_icon {
  height: 24px;
  width: 24px;
}

.count_number {
  max-width: 96px;
  width: 100%;
  height: 58px;
  border-top: 1px solid #dddddd;
  border-bottom: 1px solid #dddddd;
  color: #282828;
  font-weight: 600;
  font-size: 20px;
  line-height: 130%;
  display: flex;
  justify-content: center;
  align-items: center;
} */
.counter_container {
  display: flex;
  width: 100%;
  max-width: calc(100px + (200 - 100) * ((100vw - 393px) / (1440 - 393)));
}

.minus_btn,
.plus_btn {
  height: calc(29px + (58 - 29) * ((100vw - 393px) / (1440 - 393)));
  width: calc(29px + (58 - 29) * ((100vw - 393px) / (1440 - 393)));
  border-radius: 6px;
  border: 1px solid #dddddd;
  display: flex;
  justify-content: center;
  align-items: center;
}

.minus_icon,
.plus_icon {
  height: calc(12px + (24 - 12) * ((100vw - 393px) / (1440 - 393)));
  width: calc(12px + (24 - 12) * ((100vw - 393px) / (1440 - 393)));
}

.count_number {
  max-width: calc(48px + (96 - 48) * ((100vw - 393px) / (1440 - 393)));
  width: 100%;
  height: calc(29px + (58 - 29) * ((100vw - 393px) / (1440 - 393)));
  border-top: 1px solid #dddddd;
  border-bottom: 1px solid #dddddd;
  color: #282828;
  font-weight: 600;
  font-size: calc(10px + (20 - 10) * ((100vw - 393px) / (1440 - 393)));
  line-height: 130%;
  display: flex;
  justify-content: center;
  align-items: center;
}
